
@media screen and (max-width: 320px) {
body {
margin: 0;
}

    .hamburgerbutton{
    display: block;
    width: 32px;
    height: 32px;
    }
    .active
    {
         display: block;
        display:flex;
        flex-direction: column;
    }

    
    .hidden{
        display: none;}

    .div2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;
    }

    .andini-med-kanin2{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;  
}
/* .section_Hedder{
    display: flex;
flex-direction: column;} */
    .andini_med_kaninid{
        width: 200px;
        height: 100px;
    }
    /* {   
        width: 200px;
        height: auto;
        border-radius: 50%;
        margin-top: -200px;
    } */
    .andini-med-kanin

    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .andini {
        font-size: 60px;
        margin-top: -100px;
    }

    .due {
        height: auto;
        width: 
        200px;
    }

    header {
       display: none;
    }

    .anders-tørkle {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        justify-content: center;
        height: auto;
        width: 200px;
        /* margin-left: 15%; */
    }

    .show {
        height: auto;
        width: 200px;
    }
.BallonggjøglingClass
{
    font-size: 10px;
    inline-size: 200px;
}
    .div4 {
        height: auto;
        width: auto;
        margin-top: 200px;
        z-index: 1;
    }
.pelement{
  /* margin-left: 600px;   */
}
    .div1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 300px;
    }

    .sukkerspinnDIV{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    font-size: 12px;}

    h1, h1 {
        font-size: 70px;
        margin-top: 0px;
    }

    .Tryllekunstneren {
        font-size: 30px;
        margin-bottom: 100px;
        margin-top: 0px;
    }
.Sukkerspinnmaskin{
    width: 250px;
    height: 150px;
}
.ballonggj{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
    .andini_tryllekunstneren{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* justify-content: space-evenly; */
        padding-right: 0px;
        padding-left: 0px;
        margin: 0;
    }

/* .headerContent{
display: flex;
flex-direction: column;
justify-content: start;} */

/* @media screen and (min-width: 1024) {

.oal_bilde{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;*/

.iframe
{display: none;}
}
/* .header {
    display: none;
 }
}